body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(146, 247, 245), rgba(243, 246, 36, 0.411));
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.heading {
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.grid-container {
    border: 10px solid #2bdaea;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 500px;
    width: 500px
}

.square {
    cursor: pointer;
    border: 1px solid rgba(145, 136, 136, 0.527);
    padding: 0px;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 50px;
}

.input-container {
    width: 250px;
    background-color: #ffffff57;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}

.size-container, .color-container {
    margin-bottom: 20px;
}

.button {
    font-family: 'Shadows Into Light', cursive;
    background-color: rgb(146, 247, 245);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 20px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px 5px;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 5px #666;
}

.button:active {
    background-color: rgb(45, 131, 130);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

input[type="range"] {
    accent-color: #2bdaea;
    cursor: pointer;
    width: 50%;
}
